<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Students</title>
</head>
<body>
    <h1>Welcome Students!</h1>

    <!-- TODO: JCM Add signin -->
    <form action="/sign-in" method="post">
        <input type="text" placeholder="What's your user name?" name="username">
        <button>Sign In</button>
    </form>
</body>
</html>